__pycache__/
.cache/
.DS_Store
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.ssh_tunnel
.terraform
.terraform.*
.variables/
.venv*
*.db
*.db
artifacts/
data/
docker-compose.override.yml
logs/
mage_data/
mlruns/
mlruns/
output/
secrets/
terraform.tfstate
terraform.tfstate.backup
titanic_clean.csv
mlops-master/